
body {
  background-image: url("https://41.media.tumblr.com/297681f0f989de15c70a1fe392651b1c/tumblr_ntyfzegYss1qcx0r0o1_1280.jpg");
  background-position: 100%; 
  z-index: -1;
}
main {
  background-color: orange;
  font-family: arial: serif;
}
ul {
  width: 50%;
}
li {
  list-style-type: none;
  border: 1px solid black;
  background-color: #8B008B;
}
li li {
  list-style-type: none;
  border: none;
}
a {
  text-decoration:none;
  color: cyan;
}
